/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    padding: 1em;
}
ol, ul {
    list-style: none;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body { height: 100%; }

body {
    background-color: #fff;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 420px) {
    body {
        font-size: 18px;
    }
}

input, textarea, keygen, select, button {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

img { max-width: 100%; }

@mixin clearfix {
    zoom: 1;

    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

/*****************************************************************************/
/*
/* Column
/*
/*****************************************************************************/
.columns {
    @include clearfix;
}

.columns_column {
    float: left;
    width: 50%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.home {
    h2 {
        text-align: center;
        font-size: 3em;
        padding-bottom: 1em;
        line-height: 1em;
    }

    h3 {
        text-align: center;
        font-size: 2em;
        padding: 1em 0;
    }

    h4 {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5em;
        padding: 1em 0;
    }

    .center {
        text-align: center;
        margin-bottom: 2em;
    }

    @media screen and (max-width: 655px) {
        .columns_column {
            float: none;
            width: auto;
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  max-width: 42em;
  margin: 10px auto;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.tickets {
    li {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;

        line-height: 50px;
    }

    .button {
        margin: 0 0 10px 10px;
        line-height: 30px;
    }
}

/* MAILKIMP */
.signup {
    position: relative;
    margin-bottom: 5em;
}

.email {
    width: 80%;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px;
}

.button {
    background-color: orange;
    height: 50px;
    padding: 10px 20px;
    border: 0;
    font-size: 16px;
    color: #000;
    text-decoration: none;

    &:hover {
        background-color: #ff7a0f;
    }

    &:visited {
        color: #000;
    }
}

.signup .button {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
}

.response {
    margin-top: 10px;
    background-color: #3eff6b;
    padding: 20px;
}

.corner {
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;
    border-top: 200px solid orange;
    border-left: 200px solid transparent;
}

.corner-text {
    color: #fff;
    text-transform: uppercase;

    position: absolute;
    top: 0;
    right: -20px;
    transform: rotate(45deg);

    padding-top: 60px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
